* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(251, 241, 226);
  /* background-image: url(/Images/soundWaveV2.png); */
}

.wave {
  position: absolute;
  width: 80vw;
  z-index: -1;
  top: 55%;
  left: 12%;
}

#intro {
  background-image: linear-gradient(
    to right top,
    #4a057b,
    #950072,
    #ca005d,
    #eb3241,
    #f96f1d
  );
  width: 100vw;
  height: 250px;
}

#no-intro {
  display: none;
}

#intro h1 {
  text-align: center;
  color: white;
  padding: 3rem;
}

#declare {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#start-game {


}

.vinyl {
  width: 10rem;
  display: block;
  margin: 0 auto;
  margin-top: -4.5rem;
}

#level {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
#no-level {
  display: none;
}

#launch {
  display: block;
  margin: 0 auto;
}

.btn {
  margin: 1rem;
}

#game-time {
}

#noGame {
  display: none;
}

#game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game h2 {
  text-align: center;
  color: red;
  padding: 3rem;
}

#music {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.arrow {
  width: 25%;
  height: 25%;
  margin-left: 5rem;
  margin-right: 5rem;
  
}


.restart {
}

#noSquareAnswers {
  display: none;
}

#squareAnswers {
}

#noDuoAnswers {
  display: none;
}
#duoAnswers {
}

.no-display {
  display: none;
}

.next {

}

.points {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.good {
  background-color:green;
}
.bad {
  background-color: red;
}

.question-mark{
  position: absolute;
    width: 25%;
    right: 17%;
}

.no-question {
  display: none;
}
